39.HistaffApi-Mobile/Connected Services/CommonBusiness/CommonBusiness62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/CommonBusiness.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonDAL" />
  <xs:import schemaLocation="http://localhost:9999/CommonBusiness.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:9999/CommonBusiness.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Framework.Data" />
  <xs:element name="ValidateOtherList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_validate" nillable="true" type="q1:OtherListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOtherListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateOtherListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveOtherList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstOtherList" nillable="true" type="q2:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="sActive" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q3:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveOtherListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveOtherListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOtherList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="lstOtherList" nillable="true" type="q4:ArrayOfOtherListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOtherListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOtherListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListGroupBySystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListGroupBySystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOtherListGroupBySystemResult" nillable="true" type="q5:ArrayOfOtherListGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sACT" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOtherListGroupResult" nillable="true" type="q6:ArrayOfOtherListGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOtherListGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="objOtherListGroup" nillable="true" type="q7:OtherListGroupDTO" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q8:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOtherListGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertOtherListGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyOtherListGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="objOtherListGroup" nillable="true" type="q9:OtherListGroupDTO" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q10:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyOtherListGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyOtherListGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveOtherListGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="lstOtherListGroup" nillable="true" type="q11:ArrayOfOtherListGroupDTO" />
        <xs:element minOccurs="0" name="sActive" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q12:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveOtherListGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveOtherListGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOtherListGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="lstOtherListGroup" nillable="true" type="q13:ArrayOfOtherListGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOtherListGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOtherListGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListTypeSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListTypeSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOtherListTypeSystemResult" nillable="true" type="q14:ArrayOfOtherListTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sACT" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOtherListTypeResult" nillable="true" type="q15:ArrayOfOtherListTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOtherListType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="objOtherListType" nillable="true" type="q16:OtherListTypeDTO" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q17:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOtherListTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertOtherListTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyOtherListType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="objOtherListType" nillable="true" type="q18:OtherListTypeDTO" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q19:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyOtherListTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyOtherListTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveOtherListType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="lstOtherListType" nillable="true" type="q20:ArrayOfOtherListTypeDTO" />
        <xs:element minOccurs="0" name="sActive" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q21:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveOtherListTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveOtherListTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOtherListType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="lstOtherListType" nillable="true" type="q22:ArrayOfOtherListTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOtherListTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOtherListTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetReminderConfigResult" nillable="true" type="q23:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReminderConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReminderConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetReminderConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetTitleListResult" nillable="true" type="q24:ArrayOfOtherListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleByRank_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="lst_Rank" nillable="true" type="q25:ArrayOfOtherListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleByRank_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetTitleByRank_IDResult" nillable="true" type="q26:ArrayOfTitleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetTitleAllResult" nillable="true" type="q27:ArrayOfTitleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveProcessList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveProcessListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetApproveProcessListResult" nillable="true" type="q28:ArrayOfApproveProcessDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetApproveProcessResult" nillable="true" type="q29:ApproveProcessDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApproveProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="item" nillable="true" type="q30:ApproveProcessDTO" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q31:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApproveProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertApproveProcessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproveProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="item" nillable="true" type="q32:ApproveProcessDTO" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q33:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproveProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApproveProcessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproveProcessStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemUpdates" nillable="true" type="q34:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproveProcessStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApproveProcessStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveSetupByEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:decimal" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveSetupByEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetApproveSetupByEmployeeResult" nillable="true" type="q35:ArrayOfApproveSetupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveSetupByOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" type="xs:decimal" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveSetupByOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetApproveSetupByOrgResult" nillable="true" type="q36:ArrayOfApproveSetupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetApproveSetupResult" nillable="true" type="q37:ApproveSetupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApproveSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="item" nillable="true" type="q38:ApproveSetupDTO" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q39:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApproveSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertApproveSetupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproveSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="item" nillable="true" type="q40:ApproveSetupDTO" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q41:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproveSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApproveSetupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApproveSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemDeletes" nillable="true" type="q42:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApproveSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApproveSetupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistSetupByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="itemCheck" nillable="true" type="q43:ApproveSetupDTO" />
        <xs:element minOccurs="0" name="idExclude" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistSetupByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistSetupByDateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApproveTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="item" nillable="true" type="q44:ApproveTemplateDTO" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q45:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApproveTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertApproveTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproveTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="item" nillable="true" type="q46:ApproveTemplateDTO" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q47:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproveTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApproveTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetApproveTemplateResult" nillable="true" type="q48:ApproveTemplateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveTemplateList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveTemplateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetApproveTemplateListResult" nillable="true" type="q49:ArrayOfApproveTemplateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApproveTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemDeletes" nillable="true" type="q50:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApproveTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApproveTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsApproveTemplateUsed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="templateID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsApproveTemplateUsedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsApproveTemplateUsedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApproveTemplateDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="item" nillable="true" type="q51:ApproveTemplateDetailDTO" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q52:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApproveTemplateDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertApproveTemplateDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproveTemplateDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="item" nillable="true" type="q53:ApproveTemplateDetailDTO" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q54:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproveTemplateDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApproveTemplateDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveTemplateDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveTemplateDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetApproveTemplateDetailResult" nillable="true" type="q55:ApproveTemplateDetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveTemplateDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="templateId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveTemplateDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetApproveTemplateDetailListResult" nillable="true" type="q56:ArrayOfApproveTemplateDetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApproveTemplateDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemDeletes" nillable="true" type="q57:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApproveTemplateDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApproveTemplateDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLevelInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="level" type="xs:decimal" />
        <xs:element minOccurs="0" name="idExclude" type="xs:decimal" />
        <xs:element minOccurs="0" name="idTemplate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLevelInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLevelInsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApproveSetupExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="item" nillable="true" type="q58:ApproveSetupExtDTO" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q59:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApproveSetupExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertApproveSetupExtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproveSetupExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="item" nillable="true" type="q60:ApproveSetupExtDTO" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q61:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApproveSetupExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApproveSetupExtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveSetupExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveSetupExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetApproveSetupExtResult" nillable="true" type="q62:ApproveSetupExtDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveSetupExtList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:decimal" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveSetupExtListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetApproveSetupExtListResult" nillable="true" type="q63:ArrayOfApproveSetupExtDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApproveSetupExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemDeletes" nillable="true" type="q64:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApproveSetupExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApproveSetupExtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistSetupExtByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="itemCheck" nillable="true" type="q65:ApproveSetupExtDTO" />
        <xs:element minOccurs="0" name="idExclude" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistSetupExtByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistSetupExtByDateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:decimal" />
        <xs:element minOccurs="0" name="processCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApproveUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetApproveUsersResult" nillable="true" type="q66:ArrayOfApproveUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_orgIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isDissolve" type="xs:boolean" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q67:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetListEmployeeResult" nillable="true" type="q68:ArrayOfEmployeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLdap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q69:LdapDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLdapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetLdapResult" nillable="true" type="q70:ArrayOfLdapDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLdap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="objLdap" nillable="true" type="q71:LdapDTO" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q72:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLdapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertLdapResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyLdap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="objLdap" nillable="true" type="q73:LdapDTO" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q74:UserLog" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyLdapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyLdapResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLdap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstID" nillable="true" type="q75:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLdapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLdapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOtherListExistInDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstID" nillable="true" type="q76:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="typeID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOtherListExistInDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOtherListExistInDatabaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUsernameExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUsernameExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUsernameExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserWithGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserWithGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetUserWithGroupsResult" nillable="true" type="q77:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetUserPermissionsResult" nillable="true" type="q78:ArrayOfPermissionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserWithPermision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserWithPermisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetUserWithPermisionResult" nillable="true" type="q79:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckGroupAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckGroupAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckGroupAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_oldpass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_newpass" nillable="true" type="xs:string" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q80:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeUserPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ACTFLG" nillable="true" type="xs:string" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q81:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOrganizationAllResult" nillable="true" type="q82:ArrayOfOrganizationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationLocationTreeView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationLocationTreeViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOrganizationLocationTreeViewResult" nillable="true" type="q83:ArrayOfOrganizationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationLocationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_orgId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationLocationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOrganizationLocationInfoResult" nillable="true" type="q84:OrganizationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationStructureInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_orgId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationStructureInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOrganizationStructureInfoResult" nillable="true" type="q85:ArrayOfOrganizationStructureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationChildByList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_status" type="xs:decimal" />
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_lstOrgID" nillable="true" type="q86:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationChildByListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOrganizationChildByListResult" nillable="true" type="q87:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_username" nillable="true" type="xs:string" />
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_lstOrgID" nillable="true" type="q88:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOrganizationPermissionResult" nillable="true" type="q89:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationChildTextByList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_status" type="xs:decimal" />
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_lstOrgID" nillable="true" type="q90:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationChildTextByListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOrganizationChildTextByListResult" nillable="true" type="q91:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganization_VerticalAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganization_VerticalAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOrganization_VerticalAllResult" nillable="true" type="q92:ArrayOfOrganization_VerticalDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationLocation_VerticalTreeView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationLocation_VerticalTreeViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOrganizationLocation_VerticalTreeViewResult" nillable="true" type="q93:ArrayOfOrganization_VerticalDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationLocation_VerticalInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_orgId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationLocation_VerticalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOrganizationLocation_VerticalInfoResult" nillable="true" type="q94:Organization_VerticalDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganization_VerticalStructureInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_orgId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganization_VerticalStructureInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOrganization_VerticalStructureInfoResult" nillable="true" type="q95:ArrayOfOrganization_VerticalStructureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalaryGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalaryGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetSalaryGroupResult" nillable="true" type="q96:ArrayOfSalaryEnterpriseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q97:UserDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetUserResult" nillable="true" type="q98:ArrayOfUserDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_user" nillable="true" type="q99:UserDTO" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q100:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_validate" nillable="true" type="q101:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_user" nillable="true" type="q102:UserDTO" />
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q103:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_lstUserID" nillable="true" type="q104:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="_error" nillable="true" type="xs:string" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q105:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserListStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_lstUserID" nillable="true" type="q106:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="_status" nillable="true" type="xs:string" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q107:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserListStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserListStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_newUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_modifyUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_deleteUser" nillable="true" type="xs:string" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q108:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncUserListResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="_newUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_modifyUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_deleteUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_userid" nillable="true" type="q109:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="_minLength" type="xs:int" />
        <xs:element minOccurs="0" name="_hasLowerChar" type="xs:boolean" />
        <xs:element minOccurs="0" name="_hasUpperChar" type="xs:boolean" />
        <xs:element minOccurs="0" name="_hasNumbericChar" type="xs:boolean" />
        <xs:element minOccurs="0" name="_hasSpecialChar" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetUserPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailConfirmUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_userid" nillable="true" type="q110:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailConfirmUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailConfirmUserPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNeedSendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_groupid" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNeedSendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetUserNeedSendMailResult" nillable="true" type="q111:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupListToComboListBox">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupListToComboListBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetGroupListToComboListBoxResult" nillable="true" type="q112:ArrayOfGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q113:GroupDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetGroupListResult" nillable="true" type="q114:ArrayOfGroupDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_validate" nillable="true" type="q115:GroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateGroupListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="lst" nillable="true" type="q116:GroupDTO" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q117:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="lst" nillable="true" type="q118:GroupDTO" />
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q119:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GroupID" nillable="true" type="q120:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="_error" nillable="true" type="xs:string" />
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q121:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGroupResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_lstID" nillable="true" type="q122:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="_ACTFLG" nillable="true" type="xs:string" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q123:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGroupStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunctionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q124:FunctionDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunctionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetFunctionListResult" nillable="true" type="q125:ArrayOfFunctionDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateFunctionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_validate" nillable="true" type="q126:FunctionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateFunctionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateFunctionListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFunctionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_item" nillable="true" type="q127:ArrayOfFunctionDTO" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q128:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFunctionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFunctionListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFunctionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_item" nillable="true" type="q129:FunctionDTO" />
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q130:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFunctionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFunctionListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetModuleListResult" nillable="true" type="q131:ArrayOfModuleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveFunctions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="lstFunction" nillable="true" type="q132:ArrayOfFunctionDTO" />
        <xs:element minOccurs="0" name="sActive" nillable="true" type="xs:string" />
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q133:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveFunctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveFunctionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListInGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupID" type="xs:decimal" />
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q134:UserDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListInGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetUserListInGroupResult" nillable="true" type="q135:ArrayOfUserDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListOutGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupID" type="xs:decimal" />
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q136:UserDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListOutGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetUserListOutGroupResult" nillable="true" type="q137:ArrayOfUserDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupUserLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_groupID" type="xs:decimal" />
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q138:GroupUserLogDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupUserLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetGroupUserLogResult" nillable="true" type="q139:ArrayOfGroupUserLogDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_groupID" type="xs:decimal" />
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_lstUserID" nillable="true" type="q140:ArrayOfdecimal" />
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q141:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_groupID" type="xs:decimal" />
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_lstUserID" nillable="true" type="q142:ArrayOfdecimal" />
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q143:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupFunctionPermision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupID" type="xs:decimal" />
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q144:GroupFunctionDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupFunctionPermisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetGroupFunctionPermisionResult" nillable="true" type="q145:ArrayOfGroupFunctionDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupFunctionNotPermision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupID" type="xs:decimal" />
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q146:FunctionDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupFunctionNotPermisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetGroupFunctionNotPermisionResult" nillable="true" type="q147:ArrayOfFunctionDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGroupFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="lst" nillable="true" type="q148:ArrayOfGroupFunctionDTO" />
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q149:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGroupFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertGroupFunctionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyGroupFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupCopyID" type="xs:decimal" />
        <xs:element minOccurs="0" name="groupID" type="xs:decimal" />
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q150:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyGroupFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopyGroupFunctionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="lst" nillable="true" type="q151:ArrayOfGroupFunctionDTO" />
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q152:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGroupFunctionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lst" nillable="true" type="q153:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGroupFunctionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGroupOrganizationResult" nillable="true" type="q154:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupOrganizationFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupOrganizationFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGroupOrganizationFunctionResult" nillable="true" type="q155:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_groupId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGroupOrganizationResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="OrgIDs" nillable="true" type="q156:ArrayOfGroupOrgAccessDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGroupOrganizationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupOrganizationFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="OrgIDs" nillable="true" type="q157:ArrayOfGroupOrgFunAccessDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupOrganizationFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGroupOrganizationFunctionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupReportList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_groupID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupReportListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetGroupReportListResult" nillable="true" type="q158:ArrayOfGroupReportDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupReportListFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_groupID" type="xs:decimal" />
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q159:GroupReportDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupReportListFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetGroupReportListFilterResult" nillable="true" type="q160:ArrayOfGroupReportDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_groupID" type="xs:decimal" />
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_lstReport" nillable="true" type="q161:ArrayOfGroupReportDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGroupReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeToPopupFind">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q162:EmployeePopupFindListDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q163:UserLog" />
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_param" nillable="true" type="q164:ParamDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeToPopupFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetEmployeeToPopupFindResult" nillable="true" type="q165:ArrayOfEmployeePopupFindListDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeToPopupFind2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q166:EmployeePopupFindListDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="request_id" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q167:UserLog" />
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_param" nillable="true" type="q168:ParamDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeToPopupFind2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetEmployeeToPopupFind2Result" nillable="true" type="q169:ArrayOfEmployeePopupFindListDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeToPopupFind_EmployeeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_empId" nillable="true" type="q170:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeToPopupFind_EmployeeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetEmployeeToPopupFind_EmployeeIDResult" nillable="true" type="q171:ArrayOfEmployeePopupFindDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_empId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetEmployeeIDResult" nillable="true" type="q172:EmployeePopupFindDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="Filter" nillable="true" type="q173:TitleDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetTitleResult" nillable="true" type="q174:ArrayOfTitleDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_lstIds" nillable="true" type="q175:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitleFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetTitleFromIdResult" nillable="true" type="q176:ArrayOfTitleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="filter" nillable="true" type="q177:AccessLogFilter" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="GetAccessLogResult" nillable="true" type="q178:ArrayOfAccessLog" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAccessLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="_accesslog" nillable="true" type="q179:AccessLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAccessLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAccessLogResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="filter" nillable="true" type="q180:ActionLogFilter" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="GetActionLogResult" nillable="true" type="q181:ArrayOfActionLog" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionLogByObjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjectId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionLogByObjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="GetActionLogByObjectIdResult" nillable="true" type="q182:ArrayOfActionLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionLogByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionLogByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="GetActionLogByIDResult" nillable="true" type="q183:ArrayOfAuditLogDtl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActionLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstDeleteIds" nillable="true" type="q184:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActionLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActionLogsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComboList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_combolistDTO" nillable="true" type="q185:ComboBoxDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComboListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetComboListResult" type="xs:boolean" />
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_combolistDTO" nillable="true" type="q186:ComboBoxDataDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="eModule" type="q187:SystemConfig.ModuleID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetConfigResult" nillable="true" type="q188:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_lstConfig" nillable="true" type="q189:ArrayOfKeyValueOfstringstring" />
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="eModule" type="q190:SystemConfig.ModuleID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_cc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_bcc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_viewName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMailResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListByTypeToCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListByTypeToComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOtherListByTypeToComboResult" nillable="true" type="q191:ArrayOfOtherListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sACT" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOtherListResult" nillable="true" type="q192:ArrayOfOtherListDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gID" type="xs:decimal" />
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="_filter" nillable="true" type="q193:OtherListDTO" />
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
        <xs:element minOccurs="0" name="Sorts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherListByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="GetOtherListByTypeResult" nillable="true" type="q194:ArrayOfOtherListDTO" />
        <xs:element minOccurs="0" name="Total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOtherList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="objOtherList" nillable="true" type="q195:OtherListDTO" />
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q196:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOtherListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertOtherListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyOtherList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/CommonDAL" minOccurs="0" name="objOtherList" nillable="true" type="q197:OtherListDTO" />
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/Framework.Data" minOccurs="0" name="log" nillable="true" type="q198:UserLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyOtherListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyOtherListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>