39.HistaffApi-Mobile/Connected Services/AttendanceBusiness/AttendanceBusiness85.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Framework.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupNames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLog" nillable="true" type="tns:UserLog" />
  <xs:complexType name="TokenDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FunctionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsNotSameFunctionName" type="xs:boolean" />
      <xs:element minOccurs="0" name="SesstionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeCreated" type="xs:long" />
      <xs:element minOccurs="0" name="TimeExpired" type="xs:long" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenDTO" nillable="true" type="tns:TokenDTO" />
</xs:schema>