Common/Service References/CommonBusiness/CommonBusiness.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonDAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonDAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/CommonBusiness.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:9999/CommonBusiness.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfOtherListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherListDTO" nillable="true" type="tns:OtherListDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtherListDTO" nillable="true" type="tns:ArrayOfOtherListDTO" />
  <xs:complexType name="OtherListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATTRIBUTE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATTRIBUTE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATTRIBUTE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATTRIBUTE4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDERBYID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="TYPE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherListDTO" nillable="true" type="tns:OtherListDTO" />
  <xs:complexType name="ArrayOfOtherListGroupDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherListGroupDTO" nillable="true" type="tns:OtherListGroupDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtherListGroupDTO" nillable="true" type="tns:ArrayOfOtherListGroupDTO" />
  <xs:complexType name="OtherListGroupDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherListGroupDTO" nillable="true" type="tns:OtherListGroupDTO" />
  <xs:complexType name="ArrayOfOtherListTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherListTypeDTO" nillable="true" type="tns:OtherListTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtherListTypeDTO" nillable="true" type="tns:ArrayOfOtherListTypeDTO" />
  <xs:complexType name="OtherListTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACTFLG_DB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GROUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_SYSTEM" type="xs:boolean" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherListTypeDTO" nillable="true" type="tns:OtherListTypeDTO" />
  <xs:complexType name="ArrayOfApproveProcessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApproveProcessDTO" nillable="true" type="tns:ApproveProcessDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApproveProcessDTO" nillable="true" type="tns:ArrayOfApproveProcessDTO" />
  <xs:complexType name="ApproveProcessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMREQUEST" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PROCESS_CODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproveProcessDTO" nillable="true" type="tns:ApproveProcessDTO" />
  <xs:complexType name="ArrayOfApproveSetupDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApproveSetupDTO" nillable="true" type="tns:ApproveSetupDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApproveSetupDTO" nillable="true" type="tns:ArrayOfApproveSetupDTO" />
  <xs:complexType name="ApproveSetupDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FROM_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FROM_DAY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FROM_HOUR" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GROUP_TITLE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GROUP_TITLE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_IGNORE_APPROVE_LEVEL" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_OVER_LIMIT" type="xs:boolean" />
      <xs:element minOccurs="0" name="LEAVEPLAN_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LEAVEPLAN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIL_ACCEPTED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIL_ACCEPTING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_REQUEST" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PROCESS_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="PROCESS_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REQUEST_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIGN_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SIGN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEMPLATE_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="TEMPLATE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TITLE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TO_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TO_DAY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TO_HOUR" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproveSetupDTO" nillable="true" type="tns:ApproveSetupDTO" />
  <xs:complexType name="ArrayOfTitleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TitleDTO" nillable="true" type="tns:TitleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitleDTO" nillable="true" type="tns:ArrayOfTitleDTO" />
  <xs:complexType name="TitleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_ID_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE_GROUP_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TITLE_GROUP_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TitleDTO" nillable="true" type="tns:TitleDTO" />
  <xs:complexType name="ApproveTemplateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="TEMPLATE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEMPLATE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEMPLATE_ORDER" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TEMPLATE_TYPE" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproveTemplateDTO" nillable="true" type="tns:ApproveTemplateDTO" />
  <xs:complexType name="ArrayOfApproveTemplateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApproveTemplateDTO" nillable="true" type="tns:ApproveTemplateDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApproveTemplateDTO" nillable="true" type="tns:ArrayOfApproveTemplateDTO" />
  <xs:complexType name="ApproveTemplateDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="APP_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="APP_LEVEL" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="APP_TYPE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EMPLOYEE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="INFORM_DATE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="INFORM_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEMPLATE_ID" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproveTemplateDetailDTO" nillable="true" type="tns:ApproveTemplateDetailDTO" />
  <xs:complexType name="ArrayOfApproveTemplateDetailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApproveTemplateDetailDTO" nillable="true" type="tns:ApproveTemplateDetailDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApproveTemplateDetailDTO" nillable="true" type="tns:ArrayOfApproveTemplateDetailDTO" />
  <xs:complexType name="ApproveSetupExtDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMPLOYEE_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="FROM_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="PROCESS_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="PROCESS_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPALCEALL" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SUB_EMPLOYEE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_EMPLOYEE_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="SUB_EMPLOYEE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TO_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproveSetupExtDTO" nillable="true" type="tns:ApproveSetupExtDTO" />
  <xs:complexType name="ArrayOfApproveSetupExtDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApproveSetupExtDTO" nillable="true" type="tns:ApproveSetupExtDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApproveSetupExtDTO" nillable="true" type="tns:ArrayOfApproveSetupExtDTO" />
  <xs:complexType name="ArrayOfApproveUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApproveUserDTO" nillable="true" type="tns:ApproveUserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApproveUserDTO" nillable="true" type="tns:ArrayOfApproveUserDTO" />
  <xs:complexType name="ApproveUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="EMPLOYEE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INFORM_DATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="INFORM_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEVEL" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproveUserDTO" nillable="true" type="tns:ApproveUserDTO" />
  <xs:complexType name="ArrayOfEmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDTO" nillable="true" type="tns:EmployeeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDTO" nillable="true" type="tns:ArrayOfEmployeeDTO" />
  <xs:complexType name="EmployeeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTRACT_EFFECT_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CONTRACT_EXPIRE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CONTRACT_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CONTRACT_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRACT_TYPE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CONTRACT_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COST_CENTER" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="COST_CENTER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIRECT_MANAGER" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DIRECT_MANAGER_FULL_NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIRST_NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIRST_NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULLNAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULLNAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLOBALNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GPID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IMAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INDIRECT_MANAGER" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="INDIRECT_MANAGER_FULL_NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JOIN_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LAST_NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCATION_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_ABBR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TER_EFFECT_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TITLE_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="TITLE_NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE_NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORK_DESCRIPTION" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WORK_STATUS" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDTO" nillable="true" type="tns:EmployeeDTO" />
  <xs:complexType name="SEMailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATTACHMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATE_DATE_F" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATE_DATE_T" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIL_BCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIL_CC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIL_FROM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIL_TO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEND_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEND_DATE_F" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEND_DATE_T" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SUBJECT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SEMailDTO" nillable="true" type="tns:SEMailDTO" />
  <xs:complexType name="ArrayOfSEMailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SEMailDTO" nillable="true" type="tns:SEMailDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSEMailDTO" nillable="true" type="tns:ArrayOfSEMailDTO" />
  <xs:complexType name="LdapDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BASE_DN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOMAIN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="LDAP_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LdapDTO" nillable="true" type="tns:LdapDTO" />
  <xs:complexType name="ArrayOfLdapDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LdapDTO" nillable="true" type="tns:LdapDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLdapDTO" nillable="true" type="tns:ArrayOfLdapDTO" />
  <xs:complexType name="MailTemplateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_MAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_MAIL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_MAIL_CC" type="xs:boolean" />
      <xs:element minOccurs="0" name="MAIL_CC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailTemplateDTO" nillable="true" type="tns:MailTemplateDTO" />
  <xs:complexType name="ArrayOfMailTemplateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MailTemplateDTO" nillable="true" type="tns:MailTemplateDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMailTemplateDTO" nillable="true" type="tns:ArrayOfMailTemplateDTO" />
  <xs:complexType name="se_view_config_control_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ctl_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorToolTip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Is_Validator" type="xs:boolean" />
      <xs:element minOccurs="0" name="Is_Visible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Label_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Label_text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Validator_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="se_view_config_control_DTO" nillable="true" type="tns:se_view_config_control_DTO" />
  <xs:complexType name="se_view_config_girdColumm_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Is_Visible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orderby" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="se_view_config_girdColumm_DTO" nillable="true" type="tns:se_view_config_girdColumm_DTO" />
  <xs:complexType name="SE_SYSTEM_MAINTAINDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTRACT_MAINTAIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EFFECT_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EXPIRE_TDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIGN_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SE_SYSTEM_MAINTAINDTO" nillable="true" type="tns:SE_SYSTEM_MAINTAINDTO" />
  <xs:complexType name="ArrayOfSE_SYSTEM_MAINTAINDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SE_SYSTEM_MAINTAINDTO" nillable="true" type="tns:SE_SYSTEM_MAINTAINDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSE_SYSTEM_MAINTAINDTO" nillable="true" type="tns:ArrayOfSE_SYSTEM_MAINTAINDTO" />
  <xs:complexType name="ArrayOfSE_BACKGROUND_PORTALDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SE_BACKGROUND_PORTALDTO" nillable="true" type="tns:SE_BACKGROUND_PORTALDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSE_BACKGROUND_PORTALDTO" nillable="true" type="tns:ArrayOfSE_BACKGROUND_PORTALDTO" />
  <xs:complexType name="SE_BACKGROUND_PORTALDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BACKGROUND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILEPATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FROM_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="NOTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TO_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEWIMG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SE_BACKGROUND_PORTALDTO" nillable="true" type="tns:SE_BACKGROUND_PORTALDTO" />
  <xs:complexType name="RequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EXPECTED_COST" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EXPECTED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EXPECTED_DATE_TO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REQUEST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REQUEST_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REQUEST_SENDER_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="REQUEST_SENDER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRAINER_NUMBER" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TR_COURSE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TR_COURSE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TR_PLACE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TR_PLAN_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TR_PLAN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YEAR" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestDTO" nillable="true" type="tns:RequestDTO" />
  <xs:complexType name="ArrayOfRequestDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestDTO" nillable="true" type="tns:RequestDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestDTO" nillable="true" type="tns:ArrayOfRequestDTO" />
  <xs:complexType name="ArrayOfProcessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessDTO" nillable="true" type="tns:ProcessDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessDTO" nillable="true" type="tns:ArrayOfProcessDTO" />
  <xs:complexType name="ProcessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="APP_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APP_LEVEL" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="APP_NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APP_STATUS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="APP_STATUS_STR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_APP_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NODE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NODE_VIEW" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessDTO" nillable="true" type="tns:ProcessDTO" />
  <xs:complexType name="HR_PROCESS_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EMPLOYEE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FROM_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESS_TYPE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESS_TYPE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PROCESS_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="STATUS_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TO_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HR_PROCESS_DTO" nillable="true" type="tns:HR_PROCESS_DTO" />
  <xs:complexType name="ParamDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IS_DISSOLVE" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ORG_ID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParamDTO" nillable="true" type="tns:ParamDTO" />
  <xs:complexType name="PE_WORK_PROCESSDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EMPLOYEE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_SEND_APP" type="xs:decimal" />
      <xs:element minOccurs="0" name="JOIN_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="STATUS_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TITLE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lstWorkEmp" nillable="true" type="tns:ArrayOfPE_WORK_EMPLOYEEDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PE_WORK_PROCESSDTO" nillable="true" type="tns:PE_WORK_PROCESSDTO" />
  <xs:complexType name="ArrayOfPE_WORK_EMPLOYEEDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PE_WORK_EMPLOYEEDTO" nillable="true" type="tns:PE_WORK_EMPLOYEEDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPE_WORK_EMPLOYEEDTO" nillable="true" type="tns:ArrayOfPE_WORK_EMPLOYEEDTO" />
  <xs:complexType name="PE_WORK_EMPLOYEEDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESS_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RESULT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORK_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PE_WORK_EMPLOYEEDTO" nillable="true" type="tns:PE_WORK_EMPLOYEEDTO" />
  <xs:complexType name="ArrayOfPE_WORK_MANAGERDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PE_WORK_MANAGERDTO" nillable="true" type="tns:PE_WORK_MANAGERDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPE_WORK_MANAGERDTO" nillable="true" type="tns:ArrayOfPE_WORK_MANAGERDTO" />
  <xs:complexType name="PE_WORK_MANAGERDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESS_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WORK_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WORK_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PE_WORK_MANAGERDTO" nillable="true" type="tns:PE_WORK_MANAGERDTO" />
  <xs:complexType name="PE_WORK_MANAGER_CONCLUDEDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="APOINT_OTHER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APOINT_TITLE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHANGE_OTHER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHANGE_TITLE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CONCLUDE_TYPE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CONTRACT_TYPE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATE_PROBATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_CHANGE_TITLE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_SAL_CHANGE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOVE_OTHER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOVE_TITLE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PROCESS_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SAL_SUGGET" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="STAFF_RANK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lstWorkMan" nillable="true" type="tns:ArrayOfPE_WORK_MANAGERDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PE_WORK_MANAGER_CONCLUDEDTO" nillable="true" type="tns:PE_WORK_MANAGER_CONCLUDEDTO" />
  <xs:complexType name="HU_TERMINATION_PROCESSDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EMPLOYEE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_COMMIT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_SEND_APP" type="xs:decimal" />
      <xs:element minOccurs="0" name="JOIN_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REASON_DETAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="STATUS_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TER_LASTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TIME_OVER" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TIME_OVER_OTHER" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TITLE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TITLE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lstReason" nillable="true" type="tns:ArrayOfHU_TER_PROCESS_REASONDTO" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstReasonID" nillable="true" type="q1:ArrayOfdecimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HU_TERMINATION_PROCESSDTO" nillable="true" type="tns:HU_TERMINATION_PROCESSDTO" />
  <xs:complexType name="ArrayOfHU_TER_PROCESS_REASONDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HU_TER_PROCESS_REASONDTO" nillable="true" type="tns:HU_TER_PROCESS_REASONDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHU_TER_PROCESS_REASONDTO" nillable="true" type="tns:ArrayOfHU_TER_PROCESS_REASONDTO" />
  <xs:complexType name="HU_TER_PROCESS_REASONDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PROCESS_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="REASON_ID" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HU_TER_PROCESS_REASONDTO" nillable="true" type="tns:HU_TER_PROCESS_REASONDTO" />
  <xs:complexType name="ArrayOfPA_FRAME_SALARYDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PA_FRAME_SALARYDTO" nillable="true" type="tns:PA_FRAME_SALARYDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPA_FRAME_SALARYDTO" nillable="true" type="tns:ArrayOfPA_FRAME_SALARYDTO" />
  <xs:complexType name="PA_FRAME_SALARYDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COEFFICIENT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPTION_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HIERARCHICAL_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_LEVEL1" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_LEVEL2" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_LEVEL3" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEXT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARENT_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PARENT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROMOTE_MONTH" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PA_FRAME_SALARYDTO" nillable="true" type="tns:PA_FRAME_SALARYDTO" />
  <xs:complexType name="ArrayOfPA_FRAME_PRODUCTIVITYDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PA_FRAME_PRODUCTIVITYDTO" nillable="true" type="tns:PA_FRAME_PRODUCTIVITYDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPA_FRAME_PRODUCTIVITYDTO" nillable="true" type="tns:ArrayOfPA_FRAME_PRODUCTIVITYDTO" />
  <xs:complexType name="PA_FRAME_PRODUCTIVITYDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COEFFICIENT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPTION_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HIERARCHICAL_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_LEVEL1" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_LEVEL2" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_LEVEL3" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARENT_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PARENT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SHORT_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PA_FRAME_PRODUCTIVITYDTO" nillable="true" type="tns:PA_FRAME_PRODUCTIVITYDTO" />
  <xs:complexType name="ArrayOfPermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionDTO" nillable="true" type="tns:PermissionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionDTO" nillable="true" type="tns:ArrayOfPermissionDTO" />
  <xs:complexType name="PermissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowCreate" type="xs:short" />
      <xs:element minOccurs="0" name="AllowDelete" type="xs:short" />
      <xs:element minOccurs="0" name="AllowExport" type="xs:short" />
      <xs:element minOccurs="0" name="AllowImport" type="xs:short" />
      <xs:element minOccurs="0" name="AllowModify" type="xs:short" />
      <xs:element minOccurs="0" name="AllowPrint" type="xs:short" />
      <xs:element minOccurs="0" name="AllowSpecial1" type="xs:short" />
      <xs:element minOccurs="0" name="AllowSpecial2" type="xs:short" />
      <xs:element minOccurs="0" name="AllowSpecial3" type="xs:short" />
      <xs:element minOccurs="0" name="AllowSpecial4" type="xs:short" />
      <xs:element minOccurs="0" name="AllowSpecial5" type="xs:short" />
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunctionID" type="xs:decimal" />
      <xs:element minOccurs="0" name="FunctionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_REPORT" type="xs:boolean" />
      <xs:element minOccurs="0" name="MID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionDTO" nillable="true" type="tns:PermissionDTO" />
  <xs:complexType name="PositionPopupFindListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMP_CSM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_LM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULLNAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULLNAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoadAllOrganization" type="xs:boolean" />
      <xs:element minOccurs="0" name="ORG_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSITION_CODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionPopupFindListDTO" nillable="true" type="tns:PositionPopupFindListDTO" />
  <xs:complexType name="ArrayOfPositionPopupFindListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PositionPopupFindListDTO" nillable="true" type="tns:PositionPopupFindListDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPositionPopupFindListDTO" nillable="true" type="tns:ArrayOfPositionPopupFindListDTO" />
  <xs:complexType name="ArrayOfGroupOrgAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupOrgAccessDTO" nillable="true" type="tns:GroupOrgAccessDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupOrgAccessDTO" nillable="true" type="tns:ArrayOfGroupOrgAccessDTO" />
  <xs:complexType name="GroupOrgAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GROUP_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_ID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupOrgAccessDTO" nillable="true" type="tns:GroupOrgAccessDTO" />
  <xs:complexType name="ArrayOfGroupOrgFunAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupOrgFunAccessDTO" nillable="true" type="tns:GroupOrgFunAccessDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupOrgFunAccessDTO" nillable="true" type="tns:ArrayOfGroupOrgFunAccessDTO" />
  <xs:complexType name="GroupOrgFunAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GROUP_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_ID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupOrgFunAccessDTO" nillable="true" type="tns:GroupOrgFunAccessDTO" />
  <xs:complexType name="ArrayOfATTimeManualDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ATTimeManualDTO" nillable="true" type="tns:ATTimeManualDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfATTimeManualDTO" nillable="true" type="tns:ArrayOfATTimeManualDTO" />
  <xs:complexType name="ATTimeManualDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ATTimeManualDTO" nillable="true" type="tns:ATTimeManualDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EFFECTDATE_TERMINATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EFFECT_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_FULLNAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EXPIRE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FULLNAME" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GROUP_USER_ID" nillable="true" type="q2:ArrayOfdecimal" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_AD" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_APP" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_CHANGE_PASS" type="xs:int" />
      <xs:element minOccurs="0" name="IS_HR" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_LOGIN" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_PORTAL" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_RC" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_USER_PERMISSION" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LST_ORG" nillable="true" type="q3:ArrayOfdecimal" />
      <xs:element minOccurs="0" name="MODULE_ADMIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJECT_EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TITLE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORK_STATUS" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="SE_USER">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CHANGE_PASS_DATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EFFECTDATE_TERMINATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EFFECT_DATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMPLOYEE_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMPLOYEE_ID" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EXPIRE_DATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FULLNAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:decimal" />
          <xs:element minOccurs="0" name="IS_AD" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IS_APP" type="xs:short" />
          <xs:element minOccurs="0" name="IS_CHANGE_PASS" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IS_HR" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IS_LOGIN" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IS_PORTAL" type="xs:short" />
          <xs:element minOccurs="0" name="IS_RC" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="LOCATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODULE_ADMIN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REMINDER_COUNT" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="SE_GROUPS" nillable="true" type="tns:ArrayOfSE_GROUP" />
          <xs:element minOccurs="0" name="SE_REPORT" nillable="true" type="tns:ArrayOfSE_REPORT" />
          <xs:element minOccurs="0" name="TELEPHONE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SE_USER" nillable="true" type="tns:SE_USER" />
  <xs:complexType name="ArrayOfSE_GROUP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SE_GROUP" nillable="true" type="tns:SE_GROUP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSE_GROUP" nillable="true" type="tns:ArrayOfSE_GROUP" />
  <xs:complexType name="SE_GROUP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EFFECT_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EXPIRE_DATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ID" type="xs:decimal" />
          <xs:element minOccurs="0" name="IS_ADMIN" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IS_HR_ADMIN" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SE_GROUP_PERMISSIONS" nillable="true" type="tns:ArrayOfSE_GROUP_PERMISSION" />
          <xs:element minOccurs="0" name="SE_REPORTS" nillable="true" type="tns:ArrayOfSE_REPORT" />
          <xs:element minOccurs="0" name="SE_USERS" nillable="true" type="tns:ArrayOfSE_USER" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SE_GROUP" nillable="true" type="tns:SE_GROUP" />
  <xs:complexType name="ArrayOfSE_GROUP_PERMISSION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SE_GROUP_PERMISSION" nillable="true" type="tns:SE_GROUP_PERMISSION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSE_GROUP_PERMISSION" nillable="true" type="tns:ArrayOfSE_GROUP_PERMISSION" />
  <xs:complexType name="SE_GROUP_PERMISSION">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ALLOW_CREATE" type="xs:short" />
          <xs:element minOccurs="0" name="ALLOW_DELETE" type="xs:short" />
          <xs:element minOccurs="0" name="ALLOW_EXPORT" type="xs:short" />
          <xs:element minOccurs="0" name="ALLOW_IMPORT" type="xs:short" />
          <xs:element minOccurs="0" name="ALLOW_MODIFY" type="xs:short" />
          <xs:element minOccurs="0" name="ALLOW_PRINT" type="xs:short" />
          <xs:element minOccurs="0" name="ALLOW_SPECIAL1" type="xs:short" />
          <xs:element minOccurs="0" name="ALLOW_SPECIAL2" type="xs:short" />
          <xs:element minOccurs="0" name="ALLOW_SPECIAL3" type="xs:short" />
          <xs:element minOccurs="0" name="ALLOW_SPECIAL4" type="xs:short" />
          <xs:element minOccurs="0" name="ALLOW_SPECIAL5" type="xs:short" />
          <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FUNCTION_ID" type="xs:decimal" />
          <xs:element minOccurs="0" name="GROUP_ID" type="xs:decimal" />
          <xs:element minOccurs="0" name="ID" type="xs:decimal" />
          <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SE_FUNCTION" nillable="true" type="tns:SE_FUNCTION" />
          <xs:element minOccurs="0" name="SE_FUNCTIONReference" nillable="true" type="q6:EntityReferenceOfSE_FUNCTIONi86hmIB2" />
          <xs:element minOccurs="0" name="SE_GROUP" nillable="true" type="tns:SE_GROUP" />
          <xs:element minOccurs="0" name="SE_GROUPReference" nillable="true" type="q6:EntityReferenceOfSE_GROUPi86hmIB2" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SE_GROUP_PERMISSION" nillable="true" type="tns:SE_GROUP_PERMISSION" />
  <xs:complexType name="SE_FUNCTION">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADMIN_HR" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GROUP_ID" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ID" type="xs:decimal" />
          <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODULE_ID" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SETUP_SIGNER" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SE_FUNCTION_GROUP" nillable="true" type="tns:SE_FUNCTION_GROUP" />
          <xs:element minOccurs="0" name="SE_FUNCTION_GROUPReference" nillable="true" type="q7:EntityReferenceOfSE_FUNCTION_GROUPi86hmIB2" />
          <xs:element minOccurs="0" name="SE_GROUP_PERMISSION" nillable="true" type="tns:ArrayOfSE_GROUP_PERMISSION" />
          <xs:element minOccurs="0" name="SE_MODULE" nillable="true" type="tns:SE_MODULE" />
          <xs:element minOccurs="0" name="SE_MODULEReference" nillable="true" type="q7:EntityReferenceOfSE_MODULEi86hmIB2" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SE_FUNCTION" nillable="true" type="tns:SE_FUNCTION" />
  <xs:complexType name="SE_FUNCTION_GROUP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:decimal" />
          <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SE_FUNCTION" nillable="true" type="tns:ArrayOfSE_FUNCTION" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SE_FUNCTION_GROUP" nillable="true" type="tns:SE_FUNCTION_GROUP" />
  <xs:complexType name="ArrayOfSE_FUNCTION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SE_FUNCTION" nillable="true" type="tns:SE_FUNCTION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSE_FUNCTION" nillable="true" type="tns:ArrayOfSE_FUNCTION" />
  <xs:complexType name="SE_MODULE">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:decimal" />
          <xs:element minOccurs="0" name="IS_ACTIVE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NAME_DESC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ORDER_BY" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SE_FUNCTIONS" nillable="true" type="tns:ArrayOfSE_FUNCTION" />
          <xs:element minOccurs="0" name="SE_REPORTS" nillable="true" type="tns:ArrayOfSE_REPORT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SE_MODULE" nillable="true" type="tns:SE_MODULE" />
  <xs:complexType name="ArrayOfSE_REPORT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SE_REPORT" nillable="true" type="tns:SE_REPORT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSE_REPORT" nillable="true" type="tns:ArrayOfSE_REPORT" />
  <xs:complexType name="SE_REPORT">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:decimal" />
          <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODULE_ID" type="xs:decimal" />
          <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SE_GROUPS" nillable="true" type="tns:ArrayOfSE_GROUP" />
          <xs:element minOccurs="0" name="SE_MODULE" nillable="true" type="tns:SE_MODULE" />
          <xs:element minOccurs="0" name="SE_MODULEReference" nillable="true" type="q10:EntityReferenceOfSE_MODULEi86hmIB2" />
          <xs:element minOccurs="0" name="SE_USER" nillable="true" type="tns:ArrayOfSE_USER" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SE_REPORT" nillable="true" type="tns:SE_REPORT" />
  <xs:complexType name="ArrayOfSE_USER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SE_USER" nillable="true" type="tns:SE_USER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSE_USER" nillable="true" type="tns:ArrayOfSE_USER" />
  <xs:complexType name="ArrayOfOrganizationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationDTO" nillable="true" type="tns:OrganizationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationDTO" nillable="true" type="tns:ArrayOfOrganizationDTO" />
  <xs:complexType name="OrganizationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COST_CENTER_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CREATED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPTION_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISSOLVE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FOUNDATION_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HIERARCHICAL_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_NOT_PER" type="xs:boolean" />
      <xs:element minOccurs="0" name="MODIFIED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MODIFIED_LOG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORD_NO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PARENT_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PARENT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SHORT_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationDTO" nillable="true" type="tns:OrganizationDTO" />
  <xs:complexType name="ArrayOfOrganizationStructureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationStructureDTO" nillable="true" type="tns:OrganizationStructureDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationStructureDTO" nillable="true" type="tns:ArrayOfOrganizationStructureDTO" />
  <xs:complexType name="OrganizationStructureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="NAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARENT_ID" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationStructureDTO" nillable="true" type="tns:OrganizationStructureDTO" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
  <xs:complexType name="ArrayOfGroupDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupDTO" nillable="true" type="tns:GroupDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupDTO" nillable="true" type="tns:ArrayOfGroupDTO" />
  <xs:complexType name="GroupDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EFFECT_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EXPIRE_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_ADMIN" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_HR_ADMIN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupDTO" nillable="true" type="tns:GroupDTO" />
  <xs:complexType name="FunctionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTFLG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADMIN_HR" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCTION_GROUP_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FUNCTION_GROUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCTION_GROUP_NAME_FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCTION_NAME_FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODULE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODULE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODULE_NAME_FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_BY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SETUP_SIGNER" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="WORK_PLACE_ID" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FunctionDTO" nillable="true" type="tns:FunctionDTO" />
  <xs:complexType name="ArrayOfFunctionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FunctionDTO" nillable="true" type="tns:FunctionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFunctionDTO" nillable="true" type="tns:ArrayOfFunctionDTO" />
  <xs:complexType name="RegisterUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="APP_USER" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EFFECT_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODIFIED_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NOTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PORTAL_USER" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterUserDTO" nillable="true" type="tns:RegisterUserDTO" />
  <xs:complexType name="ArrayOfRegisterUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegisterUserDTO" nillable="true" type="tns:RegisterUserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegisterUserDTO" nillable="true" type="tns:ArrayOfRegisterUserDTO" />
  <xs:complexType name="ArrayOfModuleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleDTO" nillable="true" type="tns:ModuleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleDTO" nillable="true" type="tns:ArrayOfModuleDTO" />
  <xs:complexType name="ModuleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleDTO" nillable="true" type="tns:ModuleDTO" />
  <xs:complexType name="GroupFunctionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALLOW_CREATE" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_DELETE" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_EXPORT" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_IMPORT" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_MODIFY" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_PRINT" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_SPECIAL1" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_SPECIAL2" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_SPECIAL3" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_SPECIAL4" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_SPECIAL5" type="xs:boolean" />
      <xs:element minOccurs="0" name="FUNCTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCTION_GROUP_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FUNCTION_GROUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCTION_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="FUNCTION_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODULE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_BY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="X" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupFunctionDTO" nillable="true" type="tns:GroupFunctionDTO" />
  <xs:complexType name="ArrayOfGroupFunctionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupFunctionDTO" nillable="true" type="tns:GroupFunctionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupFunctionDTO" nillable="true" type="tns:ArrayOfGroupFunctionDTO" />
  <xs:complexType name="ArrayOfGroupReportDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupReportDTO" nillable="true" type="tns:GroupReportDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupReportDTO" nillable="true" type="tns:ArrayOfGroupReportDTO" />
  <xs:complexType name="GroupReportDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_USE" type="xs:boolean" />
      <xs:element minOccurs="0" name="MODULE_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODULE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORT_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupReportDTO" nillable="true" type="tns:GroupReportDTO" />
  <xs:complexType name="UserFunctionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALLOW_CREATE" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_DELETE" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_EXPORT" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_IMPORT" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_MODIFY" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_PRINT" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_SPECIAL1" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_SPECIAL2" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_SPECIAL3" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_SPECIAL4" type="xs:boolean" />
      <xs:element minOccurs="0" name="ALLOW_SPECIAL5" type="xs:boolean" />
      <xs:element minOccurs="0" name="FUNCTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCTION_GROUP_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FUNCTION_GROUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCTION_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="FUNCTION_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LST_ORG" nillable="true" type="q11:ArrayOfdecimal" />
      <xs:element minOccurs="0" name="MODULE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_BY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="WORK_PLACE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WORK_PLACE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserFunctionDTO" nillable="true" type="tns:UserFunctionDTO" />
  <xs:complexType name="ArrayOfUserFunctionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserFunctionDTO" nillable="true" type="tns:UserFunctionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserFunctionDTO" nillable="true" type="tns:ArrayOfUserFunctionDTO" />
  <xs:complexType name="ArrayOfUserOrgAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserOrgAccessDTO" nillable="true" type="tns:UserOrgAccessDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserOrgAccessDTO" nillable="true" type="tns:ArrayOfUserOrgAccessDTO" />
  <xs:complexType name="UserOrgAccessDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="USER_ID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserOrgAccessDTO" nillable="true" type="tns:UserOrgAccessDTO" />
  <xs:complexType name="ArrayOfUserReportDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserReportDTO" nillable="true" type="tns:UserReportDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserReportDTO" nillable="true" type="tns:ArrayOfUserReportDTO" />
  <xs:complexType name="UserReportDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_USE" type="xs:boolean" />
      <xs:element minOccurs="0" name="MODULE_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MODULE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORT_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserReportDTO" nillable="true" type="tns:UserReportDTO" />
  <xs:complexType name="EmployeePopupFindListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DIRECT_MANAGER" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DM_ID" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EMPLOYEE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EMP_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_TYPE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EMP_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULLNAME_EN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULLNAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GENDER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GROUP_EMPLOYEE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOME_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IDM_ID" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IMAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_3B" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_KIEMNHIEM" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IS_TER" type="xs:boolean" />
      <xs:element minOccurs="0" name="ITIME_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnlyWorkingWithoutTer" type="xs:boolean" />
      <xs:element minOccurs="0" name="JOIN_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoadAllOrganization" type="xs:boolean" />
      <xs:element minOccurs="0" name="MATHE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MATHE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MustHaveContract" type="xs:boolean" />
      <xs:element minOccurs="0" name="ORG_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PER_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THETU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE_GROUP_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TITLE_GROUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TITLE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORK_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORK_INVOLVE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORK_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="is_All" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeePopupFindListDTO" nillable="true" type="tns:EmployeePopupFindListDTO" />
  <xs:complexType name="ArrayOfEmployeePopupFindListDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeePopupFindListDTO" nillable="true" type="tns:EmployeePopupFindListDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeePopupFindListDTO" nillable="true" type="tns:ArrayOfEmployeePopupFindListDTO" />
  <xs:complexType name="ArrayOfEmployeePopupFindDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeePopupFindDTO" nillable="true" type="tns:EmployeePopupFindDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeePopupFindDTO" nillable="true" type="tns:ArrayOfEmployeePopupFindDTO" />
  <xs:complexType name="EmployeePopupFindDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIRTH_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BIRTH_PLACE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BIRTH_PLACE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRACT_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DECISION_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DIRECT_MANAGER" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EFFECT_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMPLOYEE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EMP_TYPE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EMP_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FULLNAME_VN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GENDER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GROUP_EMPLOYEE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOME_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HURT_TYPE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HURT_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITIME_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JOIN_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LABOUR_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATHE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MATHE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MONEY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OBJECTTIMEKEEPING" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OBJECT_ATTENDANT_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OBJECT_ATTENDANT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJECT_EMPLOYEE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OBJECT_EMPLOYEE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJECT_LABOR" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OBJECT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ORG_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_NAME_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_NAME_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PER_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECORD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SHORT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STAFF_RANK_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="STAFF_RANK_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THETU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE_GROUP_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TITLE_GROUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TITLE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TROPHIES_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORK_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORK_INVOLVE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORK_INVOLVE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WORK_PLACE_ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WORK_PLACE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORK_STATUS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeePopupFindDTO" nillable="true" type="tns:EmployeePopupFindDTO" />
  <xs:complexType name="ComboBoxDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GET_ACTION_NAME" type="xs:boolean" />
      <xs:element minOccurs="0" name="GET_FUNCTION" type="xs:boolean" />
      <xs:element minOccurs="0" name="GET_FUNCTION_GROUP" type="xs:boolean" />
      <xs:element minOccurs="0" name="GET_MODULE" type="xs:boolean" />
      <xs:element minOccurs="0" name="GET_OTHER_LIST_GROUP" type="xs:boolean" />
      <xs:element minOccurs="0" name="GET_TYPE_SHOP" type="xs:boolean" />
      <xs:element minOccurs="0" name="GET_USER_GROUP" type="xs:boolean" />
      <xs:element minOccurs="0" name="GET_WORK_PLACE" type="xs:boolean" />
      <xs:element minOccurs="0" name="LIST_ACTION_NAME" nillable="true" type="tns:ArrayOfOtherListDTO" />
      <xs:element minOccurs="0" name="LIST_FUNCTION" nillable="true" type="tns:ArrayOfFunctionDTO" />
      <xs:element minOccurs="0" name="LIST_FUNCTION_GROUP" nillable="true" type="tns:ArrayOfFunctionGroupDTO" />
      <xs:element minOccurs="0" name="LIST_MODULE" nillable="true" type="tns:ArrayOfModuleDTO" />
      <xs:element minOccurs="0" name="LIST_OTHER_LIST_GROUP" nillable="true" type="tns:ArrayOfOtherListGroupDTO" />
      <xs:element minOccurs="0" name="LIST_TYPE_SHOP" nillable="true" type="tns:ArrayOfOtherListGroupDTO" />
      <xs:element minOccurs="0" name="LIST_USER_GROUP" nillable="true" type="tns:ArrayOfGroupDTO" />
      <xs:element minOccurs="0" name="LIST_WORK_PLACE" nillable="true" type="tns:ArrayOfOtherListGroupDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComboBoxDataDTO" nillable="true" type="tns:ComboBoxDataDTO" />
  <xs:complexType name="ArrayOfFunctionGroupDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FunctionGroupDTO" nillable="true" type="tns:FunctionGroupDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFunctionGroupDTO" nillable="true" type="tns:ArrayOfFunctionGroupDTO" />
  <xs:complexType name="FunctionGroupDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FunctionGroupDTO" nillable="true" type="tns:FunctionGroupDTO" />
</xs:schema>